* {
    margin: 0px;
    box-sizing: border-box;
}

/*  */
/*  */

.options {
    display: flex;
    flex-direction: column;
}
@media (min-width: 376px) {
    .options {
        display: grid;
        grid-template-columns: 290px 100%;
    }
}
@media (min-width: 376px) {
    .options__menu {
        background-color: #c4c4c4;
        max-width: 296px;
    }
}

/* MENU COMPONENT */
/* MENU COMPONENT */

.options__menu__comp {
    display: flex;
}
@media (max-width: 375px) {
    .options__menu__comp {
        height: 61px;
    }
}
@media (min-width: 376px) {
    .options__menu__comp {
        flex-direction: column;
    }
}

.options__menu__comp__inbox {
    color: white;
    background: #888888;
    border: none;
}
@media (max-width: 375px) {
    .options__menu__comp__inbox {
        width: 100%;
    }
}
@media (min-width: 376px) {
    .options__menu__comp__inbox {
        margin: 25px;
        height: 73px;
    }
}
.options__menu__comp__inbox:focus {
    background: #393939;
}
.options__menu__comp__sent {
    background: #888888;
    border: none;
    color: white;
}
@media (max-width: 375px) {
    .options__menu__comp__sent {
        width: 100%;
    }
}
@media (min-width: 376px) {
    .options__menu__comp__sent {
        margin-left: 25px;
        margin-right: 25px;
        height: 73px;
    }
}
.options__menu__comp__sent:focus {
    background: #393939;
}

/*  */
/*  */

.options__box {
    background-color: #fff59b;
    height: 500px;
}
@media (max-width: 375px) {
    .options__box {
        padding: 25px;
    }
}
@media (min-width: 376px) {
    .options__box {
        padding: 35px;
    }
}
.options__box__welcome {
}
